defaults
  log global

global
  maxconn 1000
  log stdout format raw local0 debug

frontend stats
  mode http
  bind :8404
  stats enable
  stats uri /
  stats refresh 10s
  stats admin if LOCALHOST

frontend frontend_collector
  mode tcp
  bind :5000
  use_backend backend_collector

backend backend_collector
  mode tcp
  balance leastconn
  server dev_obmp-collector-20  10.28.0.20:5000 check
  server dev_obmp-collector-21  10.28.0.21:5000 check
  server dev_obmp-collector-22  10.28.0.22:5000 check
  server dev_obmp-collector-23  10.28.0.23:5000 check
