[Unit]
Description=This is dev_obmp-collector-%i template 
Requires=dev_obmp-podman-network.network

[Container]
ContainerName=dev_obmp-collector-%i
Environment=KAFKA_FQDN=10.28.0.11:29092
Image=openbmp/collector:2.2.3
IP=10.28.0.%i
Network=dev_obmp-podman-network
PodmanArgs=--interactive --privileged --tty --cgroups=enabled
Sysctl=net.ipv4.tcp_keepalive_intvl=30 net.ipv4.tcp_keepalive_probes=5 net.ipv4.tcp_keepalive_time=280
Volume=%h/dev_obmp/config:/config:Z,U

[Install]
WantedBy=default.target
