[Unit]
Description=This is dev_obmp-whois container
Requires=dev_obmp-podman-network.network

[Container]
ContainerName=dev_obmp-whois
Environment=POSTGRES_HOST=10.28.0.12 POSTGRES_PORT=5432
Image=openbmp/whois:2.2.0
IP=10.28.0.14
Network=dev_obmp-podman-network
PodmanArgs=--interactive --tty --cgroups=enabled
Secret=POSTGRES_PASSWORD,type=env,target=POSTGRES_PASSWORD
Secret=POSTGRES_USER,type=env,target=POSTGRES_USER
Secret=POSTGRES_DB,type=env,target=POSTGRES_DB
Sysctl=net.ipv4.tcp_keepalive_intvl=30 net.ipv4.tcp_keepalive_probes=5 net.ipv4.tcp_keepalive_time=280

[Service]
TimeoutStartSec=300
Restart=always

[Install]
WantedBy=default.target
