[Unit]
Description=This is dev_oss-grafana container
Requires=dev_oss-network.network

[Container]
ContainerName=dev_oss-grafana
Environment=GF_AUTH_ANONYMOUS_ENABLED=false GF_USERS_HOME_PAGE=d/obmp-home/obmp-home
Image=grafana/grafana:12.0.0
IP=10.29.0.13
Network=dev_oss-network
PodmanArgs=--interactive --privileged --tty --cgroups=enabled
Secret=GF_SECURITY_ADMIN_PASSWORD,type=env,target=GF_SECURITY_ADMIN_PASSWORD
Volume=%h/dev_oss/grafana:/var/lib/grafana:Z,U
Volume=%h/dev_oss/grafana/provisioning:/etc/grafana/provisioning:Z,U

[Install]
WantedBy=default.target
